*{
    margin:0;
    padding: 0;
    text-decoration: none;
   
}
@font-face{
    font-family: "VCRODOMono";
    src: local("VCR_OSD_MONO"),
        url("./fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

.container1{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}
main{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}
.sidebar{
    background: #D7D7D7;
    color: #0D0D0D;
    width: 200px;
    transition: all 0.5s ease-in-out;
    border-radius: 0 7px 7px 0;
    
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo{
    font-family: "VCRODOMono", monospace;
    font-size: 25px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link, .bottom-link {
  font-family: "VCRODOMono", monospace;
  display: flex;
  color: #0D0D0D;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.bottom-link {
  position: absolute;
  bottom: 0;
  
}

.link:hover, .bottom-link:hover {
  background-color: #12312B;
  color: #D7D7D7;
  transition: all 0.5s;
  border-radius: 7px;
}

.active{
    background-color: #12312B;
    color:#D7D7D7;
    border-radius: 7px;
}
.icon, .link_text{
 font-size: 20px;
}
/* Tables */
.table-no-stripes{
  border-collapse: separate;
  border-spacing: 0 15px;
}
.table-no-stripes tbody tr:nth-child(odd) {
    background-color: transparent; /* Remove background color for odd rows */
  }
  
  .table-no-stripes tbody tr:nth-child(even) {
    background-color: transparent; /* Remove background color for even rows */
  }
tbody{
    display: contents;
}
Table{
  border-collapse: collapse !important ;
}
input {
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 91%;
    padding: 10px 10px;
    font-family: "VCRODOMono";
  }
select{
    background-color: transparent;
    padding: 10px 10px;
}
tr {
    background-color: #f5f5f5; 
    text-align: center;
    align-items: center;
    font-family: "VCRODOMono";
  }
  
 
  tr:nth-child(even) {
    background-color: #e0e0e0;
  }
  
 
  th {
    background-color: #333;
    color: white; 
    font-family: "VCRODOMono";
  }
  

  td {
    padding: 8px;
    text-align: center;
    font-family: "VCRODOMono";
  }
  

  tfoot tr {
    font-weight: bold; 
  }
.date-pagination{
    display: flex;
   
    gap: 20px;
    align-content: center;
    justify-content: center;
}
.select-search{
  font-family: "VCRODOMono";
  margin-bottom: 16px;
}
/* edit forms */
.edit-form{
  display: flex;
  align-items: stretch;
}
.modal-header-edit-form{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.action .dropdown-toggle, .dropdown-toggle.btn.btn-primary{
  background-color: transparent;
  border: none;
  padding: 0px;
}

/* Remove background color and border from dropdown items */
.action .dropdown-menu {
  background-color: #f5f5f5;
  z-index: 1;
}

/* Remove hover and active states */
.action .dropdown-item.active {
  background-color: transparent;
  
}
p{
  font-family: "VCRODOMono";
}
/*Calendar*/
.calendar-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin-top: 50px;
}

.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.custom-calendar {
  max-width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  border: none;
}

/* Style the calendar navigation buttons */
.react-calendar__navigation {
  display: flex;
  margin-top: 20px;
  background-color: #f0f0f0;
  border: none;
}
.react-calendar__navigation__label{
  border: none;
}
/* Style the calendar navigation button icons */
.react-calendar__navigation__arrow {
  background-color: none;
  border: none;
  font-size: 40px;
  margin: 10px;
}

/* Style the calendar tile for the selected date */
.react-calendar__tile--active {
  background-color: #007bff;
  color: #fff;
  border-radius: 10%;
}

/* Style the calendar tile for today's date */
.react-calendar__tile--now {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}

/* Style the calendar tile for weekdays */
.react-calendar__tile--weekdays {
  background-color: #f5f5f5;
  color: red;
  font-weight: bold;
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.5; /* Reduce the opacity to 50% */
  /* Add any other styles as needed */
}

/* Style the calendar tile for other dates */
.react-calendar__tile {
  border: none;
  cursor: pointer;
}

/* Style the "Close" button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
}

/*BALANCE*/
.balance{
  background-color: #BFBFBF;
  color: #0D0D0D;
  display: flex;
  width: 400px;
  height: 78px;
  border-radius: 10px;
}
.balance-title{
  padding-top: 10px;
  font-size: 18px;
  margin: 0px;
}
.current-balance-container{
  padding-left: 20px;
}
.balance-amount{
  font-size: 24px;
}
.budget{
  display: flex;
  justify-content: center;
}

/*Cards*/
.cards{
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "VCRODOMono";
}
.card-items{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.category-name{
  margin: 20px 20px 0 20px;
}
/*Bills*/
.category1{ 
  background-color: #003366; 
  color: white; 
}
/*Food*/
.category2 {
  background-color: #66cc99;
  color: white; 
}
/*E-Commerce*/
.category3 {
  background-color: #660099; 
  color: white; 
}
/*Enterntainment*/
.category4 {
  background-color: #ff3300; 
  color: white; 
}
/*Shop*/
.category5 {
  background-color: #ff9900; 
  color: white; 
}
.edit-button{
  background-color: transparent;
  border: none;
  margin-top: 10px;
}
.edit-button:hover{
  background-color: transparent;
  color: #0D0D0D;
}
.edit-button:active{
  background-color: transparent !important;
  
}
.budget-amount{
  font-size: 42px;
  text-align: center;
  width: 100%;
}
/*Create Category in Settings*/
.create-category{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  font-family: "VCRODOMono";
  gap: 20px;
}
#category-dropdown{
  width: 250px;
}
.category-dropdown{
  width: 250px;
  border-color: #0D0D0D;
}
.category-item1:hover{
  background-color: #003366;
  color: #FFFF;
}
.category-item2:hover{
  background-color: #66cc99;
  color: #FFFF;
}
.category-item3:hover{
  background-color: #660099;
  color: #FFFF;
}
.category-item4:hover{
  background-color: #ff3300;
  color: #FFFF;
}
.category-item5:hover{
  background-color: #ff9900;
  color: #FFFF;
}
.category-label{
  font-weight: bold;
}
.subcategory-input{
  width: 250px;
  border-color: #0D0D0D;
}
.category{
  height: auto;
  padding-top: 50px;
  
}
/*Pagination*/

.pagination{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.pagination a{
  color: #0D0D0D;
  text-decoration: none;
  
}
.pagination .active{
  width: 25px;
  background-color: #007bff;
  display: flex;
  font-weight: bold;
  justify-content: center;
}
/*charts*/
.doughnut{
  height: 250px !important;
  width: 250px !important;
}
/*media queries*/
@media only screen and (max-width: 1280px){
  .register{
  .login-description-container{
    height: 739px;
    width: 378px;
  }
  .title-register{
    font-size: 3rem;
  }
  .register-title{
    font-size: 2rem;
  }
  .login-content-container{
    margin-top: 85px;
  }
  .register-forms{
    height: 50px;
    width: 378px;
  }
}
}

@media only screen and (max-width: 992px){

  .landing-description{
      margin-left: 25px !important;
      margin-right: 25px !important;
    .title{
      font-size: 2rem;
      margin-right: 20px;
      line-height: 75px;
    }
    .title-description{
      font-size: 1.5rem;
      text-align: left;
    }
  }
  .register{
    flex-direction: column;
    
  .login-container {
    height: 523px;
    border-radius: 30px 30px 0 0;
    margin-top: 20px;
  }
  .login-description-container{
    height: 369px;
    width: 530px
  }
  .login-description{
    margin: 24px;
  }
  .title-register{
    font-size: 2rem;
  }
  .register-title{
    font-size: 2rem;
  }
  .login-content-container{
    margin-top: 85px;
  }
  .register-forms{
    height: 50px;
  }
  .register-button{
    height: 44px;
    width: 112px;
  }
  .register-container{
    height: 523px;
    border-radius: 0 0 30px 30px;
    margin-bottom: 20px;
  }
}
}

@media only screen and (max-width: 600px){
    .landing-description {
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
    .landing-container .title {
      font-size: 2em;
      line-height: 50px;
    }
    .landing-container .title-description {
      font-size: 1.2rem;
    }
  
    
  .register{
    .login-container{
      width: 490px;
    }
    .login-description-container{
      width: 455px;
      height:346px;
    }
    .register-container{
      width: 490px;
    }
    .register-forms{
      height:40px;
      font-size: 1.2rem;
    }
    .register-button{
      font-size: 1.2rem;
    }
    
  }
}
@media only screen and (max-width: 480px){
  .landing-description {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
  .landing-container .title {
    font-size: 1.5rem;
    line-height: 35px;
  }
  .landing-container .title-description {
    font-size: 1rem;
  }

  .register{
    .login-container{
      width: 355px;
    }
    .login-description-container{
      width: 315px;
      height:255px;
    }
    .register-container{
      width: 355px;
    }
    .register-forms{
      height:35px;
      font-size: 1.2rem;
      width: 300px;
    }
    .title-register{
      font-size: 1.4rem;
    }
    .login-content-container{
      margin-top: 54px;
    }
  .register-button{
    font-size: 1.2rem;
  }
  
}
}